.header {
  padding: 10px 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header img {
  height: 60px;
}
.header nav a {
  color: #2e052b;
  text-decoration: none;
  margin: 0 20px;
  font-size: 18px;
}
.ham {
  display: none;
}
@media only screen and (max-width: 850px) {
  .header {
    padding: 10px 15px;
    justify-content: space-between;
  }
  .header img {
    height: 40px;
  }
  .header nav {
    display: none;
  }
  .header .ham {
    display: block;
    width: 25px;
    height: 25px;
    transition: all 0.6s ease-in-out;
  }
  .header .show {
    background-color: white;
    display: block;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 9999999;
  }
  .header .show a {
    padding: 10px 0;
  }
}
